name: Publish package to the Maven Central Repository

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  publish:
    uses: reallifedeveloper/github-workflows/.github/workflows/maven-deploy.yaml@main
    secrets: inherit
    permissions:
      contents: read
      packages: write
